

.intro {

    margin-top: 100px;
    margin-bottom: 35px;
    margin-right: 150px;
    margin-left: 80px;
}

h1 {
    margin-top: 30px;
    margin-left: 450px;

}

h3 {
    margin-top: 30px;
    margin-left: 520px
}

.exp {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Tilt Warp', cursive;
    margin-top: 30px;
    margin-left: 20px
        }


.tit {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Tilt Warp', cursive;
}

nav {

    margin-top: 30px;
    margin-left: 450px
}

.contacto {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Tilt Warp', cursive;
}

.gg {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Tilt Warp', cursive;

}

.infot {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Tilt Warp', cursive;

    margin-top: 30px;
    margin-left: 20px
}

.hab3 
{  margin-top: 30px;
    margin-left: 20px }

.m3{
    margin-top: 30px;
    margin-left: 20px
}
